<div>
    <div class="topdiv">
        <h1>Update results</h1></br>
    </div>
    <form action="/results/update" method="post" id="update">
        <% @current_matches.each do |match| %>
            <label> <%= match.home_team %> </label>
            <label> VS </label>
            <label> <%= match.away_team %> </label>
            <input type="number" name="<%= match.id.to_s + 'home_s' %>">
            <input type="number" name="<%= match.id.to_s + 'away_s' %>">
            <label> <%= " -- Gameweek " +  match.gameweek.to_s %> </label>
            </br>
        <% end %> 
        <button type="submit">Submit!</button>
    </form>
</div>
